.box {
  margin: 400px 0px 0px 700px;
  height: 100px;
  width: 100px;
  animation: rotate 3s linear infinite normal backwards;

}

@keyframes rotate {
  0% {
    transform: translate(0,0);
    background-color: rgb(255, 0, 0);
  }

  25% {
    transform: translate(0,100px);
    background-color: rgb(119, 0, 255);
  }

  50% {
    transform: translate(100px,100px);
    background-color: rgb(0, 17, 255);
  }

  75% {
    transform: translate(100px,0px);
    background-color: rgb(0, 185, 31);
  }

  100% {
    transform: translate(0,0);
    background-color: rgb(251, 255, 0);
  }
}
